<link rel="icon" href="/assets/icons/sheep.svg" type="image/svg+xml" />
<script>
  window.goatcounter = { no_onload: true };
  const trackPageView = () => {
    if (typeof window.goatcounter.count === "function") {
      window.goatcounter.count({
        path: location.pathname + location.search + location.hash,
      });
    }
  };
  document.addEventListener("DOMContentLoaded", trackPageView);
</script>
<script
  data-goatcounter="https://analytics.garsdalecottages.co.uk/count"
  async
  src="https://analytics.garsdalecottages.co.uk/count.js"
></script>
